<h1>Users</h1>

<% @users.each do |user| %>
    <p class><%= user.id %>) <%= user.name %>: <%= user.email %></p>
    <%= link_to 'Delete', user, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>