<h1 class="main-title">ScheduAll <%= image_tag "scheduall_logo.png", :class => "logo" %></h1>

<div class="headings">
    <h2 class="sub-head">Host</h2>

    <h2 class="sub-head">Attend</h2>

    <h2 class="sub-head">Party</h2>
    
    <div>
        <i class="fa fa-envelope fa-5x" aria-hidden="true"></i>

        <i class="fa fa-check-square fa-5x" aria-hidden="true"></i>

        <i class="fa fa-users fa-5x" aria-hidden="true"></i>
    </div>
</div>