/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap-datetimepicker
 */

.navbar-brand {
    width: 58px;
    padding: 5px;
}

.logo-nav {
    width: 100%;
    height: 110%;
}

.container-fluid {
     background-color: darkcyan; 
    display: flex;
    align-items: center;
}

.nav-links {
    color: white;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.nav-links a {
    color: white;
}

.main-title {
    font-family: 'Damion', cursive;
    font-size: 100px;
    font-weight: 550;
    text-align: center;
}

.logo {
    width: 90px;
    position: relative;
    bottom: 18px;
    right: 10px;
}

.headings {
    text-align: center;
    margin-top: 80px;
}

.sub-head {
     display: inline-block;
     font-family: 'Damion', cursive;
     margin: 10px 100px;
     font-size: 60px;
 }

 .icons {
     margin: 0 132px;
 }
