// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.event-bubble {
    margin: 10px;
    background-color: lightgray;
    border-radius: 10px;
    padding: 5px;
    width: 400px;
    position: relative;
    left: 100px;
}

.wrapper {
    width: 500px;
    background-color: lightgray;
    border-radius: 15px;
    padding: 10px;
    margin: 10px auto;
}

.guest-list {
    clear: both;
    position: relative;
    top: 20px;
    left: 10px;
}

.guest-list input {
    display: inline-block;
}

.guest {
    display: block;
}

.comment-name, .comment-time {
    display: inline-block;
}

.comment-time {
    font-size: 13px;
    color: gray;
    margin: 0 0 0 10px;
    position: relative;
    bottom: 1px;
}

.listed-guests {
    display: inline-block;
}

.fa {
    margin: 0;
}

.alert {
    color: red;
}